p
{
    margin-left: 3%;
    margin-right: 1%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    word-spacing: 0%;
    letter-spacing: 0px;
}

pre
{
    margin-left: 5%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    word-spacing: 0%;
    letter-spacing: 0px;
}


h1
{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    word-spacing: 0%;
    letter-spacing: 0px;
}

h2
{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    word-spacing: 0%;
    letter-spacing: 0px;
}

h3
{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    word-spacing: 0%;
    letter-spacing: 0px;
}

h4
{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    word-spacing: 0%;
    letter-spacing: 0px;
}